<a href="https://colab.research.google.com/github/gbiamgaurav/Feature-Engineering/blob/main/Handling%20Categorical%20Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Handle Categorical Features 

### `One Hot Encoding`

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/krishnaik06/Feature-Engineering-Live-sessions/master/titanic.csv"

In [3]:
df = pd.read_csv(url, usecols=['Sex'])

In [4]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [7]:
pd.get_dummies(df).head()

   Sex_female  Sex_male
0           0         1
1           1         0
2           1         0
3           1         0
4           0         1

In [8]:
pd.get_dummies(df, drop_first=True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1

In [9]:
df = pd.read_csv(url, usecols=['Embarked'])

In [10]:
df.head()

  Embarked
0        S
1        C
2        S
3        S
4        S

In [11]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [17]:
#### Dropping the NAN Rows

df.dropna(inplace=True)

In [15]:
df.head()

  Embarked
0        S
1        C
2        S
3        S
4        S

In [16]:
df.isnull().sum()

Embarked    0
dtype: int64

In [18]:
pd.get_dummies(df, drop_first=False).head()

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1

In [19]:
pd.get_dummies(df, drop_first=True).head()

   Embarked_Q  Embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1

### `One Hot Encoding with many categories in a feature`

In [20]:
mercedes_data = "https://raw.githubusercontent.com/krishnaik06/Feature-Engineering-Live-sessions/master/mercedes.csv"

In [21]:
df = pd.read_csv(mercedes_data)

In [22]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [23]:
df = pd.read_csv(mercedes_data, usecols=['X0','X1','X2','X3','X4','X5','X6'])

In [24]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [44]:
df['X1'].value_counts()

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
t      31
h      29
y      23
f      23
j      22
n      19
k      17
p       9
g       6
d       3
q       3
ab      3
Name: X1, dtype: int64

In [27]:
df['X0'].unique()

array(['k', 'az', 't', 'al', 'o', 'w', 'j', 'h', 's', 'n', 'ay', 'f', 'x',
       'y', 'aj', 'ak', 'am', 'z', 'q', 'at', 'ap', 'v', 'af', 'a', 'e',
       'ai', 'd', 'aq', 'c', 'aa', 'ba', 'as', 'i', 'r', 'b', 'ax', 'bc',
       'u', 'ad', 'au', 'm', 'l', 'aw', 'ao', 'ac', 'g', 'ab'],
      dtype=object)

In [30]:
for i in df.columns:
  print(len(df[i].unique()))

47
27
44
7
4
29
12

In [33]:
#### Take the top 10 most frequent categories

df.X1.value_counts().sort_values(ascending=False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [35]:
lst_10 = df.X1.value_counts().sort_values(ascending=False).head(10).index
lst_10=list(lst_10)

In [36]:
lst_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [37]:
import numpy as np
for categories in lst_10:
  df[categories] = np.where(df['X1'] == categories,1,0)

In [40]:
df[lst_10]

      aa  s  b  l  v  r  i  a  c  o
0      0  0  0  0  1  0  0  0  0  0
1      0  0  0  0  0  0  0  0  0  0
2      0  0  0  0  0  0  0  0  0  0
3      0  0  0  0  0  0  0  0  0  0
4      0  0  0  0  1  0  0  0  0  0
...   .. .. .. .. .. .. .. .. .. ..
4204   0  1  0  0  0  0  0  0  0  0
4205   0  0  0  0  0  0  0  0  0  1
4206   0  0  0  0  1  0  0  0  0  0
4207   0  0  0  0  0  1  0  0  0  0
4208   0  0  0  0  0  1  0  0  0  0

[4209 rows x 10 columns]

In [41]:
lst_10.append('X1')

In [43]:
df[lst_10]

      aa  s  b  l  v  r  i  a  c  o X1
0      0  0  0  0  1  0  0  0  0  0  v
1      0  0  0  0  0  0  0  0  0  0  t
2      0  0  0  0  0  0  0  0  0  0  w
3      0  0  0  0  0  0  0  0  0  0  t
4      0  0  0  0  1  0  0  0  0  0  v
...   .. .. .. .. .. .. .. .. .. .. ..
4204   0  1  0  0  0  0  0  0  0  0  s
4205   0  0  0  0  0  0  0  0  0  1  o
4206   0  0  0  0  1  0  0  0  0  0  v
4207   0  0  0  0  0  1  0  0  0  0  r
4208   0  0  0  0  0  1  0  0  0  0  r

[4209 rows x 11 columns]